body {
    box-sizing: border-box;
    background-color: #FBFEF9;
}

main {
    box-sizing: border-box;
    /* padding:0px 0px */
}

h1,
h2,
h4,
h3,
p {
    color: #191923;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#maincenter {
    display: flex;
    flex-direction: row;
}
.textbutton {
    color: #191923;
    background-color: #F7B477;
    border-top: 2px solid #191923;
    border-right: 2px solid #191923;
    border-bottom: 2px solid #191923;
    width: 150px;
    border-radius: 0px 10px 10px 0px;
    transition-duration: 0.2s;

}

.textbutton:hover {
    background-color: #f19069;
    margin-left: 20px;
    
}

#presenttime {
    display: flex;
    border-top: 2px solid #191923;
    color: #191923;
    justify-content: right;

}

.textarea {
    border: 1px solid #191923;
    min-height: 55px;
    background-color: #FBFEF9;

}

#nowtime,
#titleofpage {
    margin: 10px;
}

#nowtime {
    border-top: 2px solid #191923;
}